<div class="main-div">
<a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
  Request status
  <i nz-icon nzType="down"></i>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="getUserRequest('PENDING')">PENDING</li>
    <li nz-menu-item (click)="getUserRequest('PAID')">PAID</li>
    <li nz-menu-item (click)="getUserRequest('RESERVED')">RESERVED</li>
    <li nz-menu-item (click)="getUserRequest('CANCELED')">CANCELED</li>
  </ul>
</nz-dropdown-menu>

<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" style="margin-top: 5%;">
  <thead>
    <tr>
      <th>Agent</th>
      <th nzCustomFilter>
        Ad
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Reception Date</th>
      <th>Pick Up Address</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.agent }}</td>
      <td>{{ data.ad }}</td>
      <td>{{ data.receptionDate }}</td>
      <td>{{ data.pickUpAddress }}</td>
      <td><button nz-button nzType="primary" nzGhost>Pay</button></td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search ad" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
</div>
