<div>
    <div style="width: 40%;">
        <br/>
        <br/>
            <b style="color: white; margin-left: 10%; font: oblique;">
            Change your password
            </b>
        <br/>
        <br/>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <!-- <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="password" nz-input placeholder="Current password" />
                </nz-form-control>
            </nz-form-item> -->
            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="password" nz-input formControlName="password" placeholder="New password" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="password" nz-input formControlName="rePassword" placeholder="Repeated new password" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" class="login-form-button" [disabled]="!validateForm.valid">Confirm</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
  </div>
  