<div class="wallpaper" style="background-image: url('https://www.subaru.com/guides/wallpapers/outback/my17/subaru.outback.2017.share.wallpaper.03.jpg');">
  <div>
      <header style="color: white; font-size: x-large; font-style: oblique; margin-left: 10%;">
        <br/>
        <br/>
        <b>
          Please fill the registration form:
        </b>
        <br/>
        <br/>
      </header>
      <form nz-form [formGroup]="validateForm" class="registrationForm">
        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="firstName" formControlName="firstName" placeholder="Name" #firstName/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="lastName" formControlName="lastName" placeholder="Last name" #lastName/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="address" formControlName="address" placeholder="Address" #address/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="city" formControlName="city" placeholder="City" #city/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="country" formControlName="country" placeholder="Country" #country/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="ssn" formControlName="ssn" placeholder="Social security number" #ssn/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="username" id="username" placeholder="E-mail" #username/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input
            style="width: 350px;"
              nz-input
              type="password"
              id="password"
              placeholder="Password"
              formControlName="password"
              #password
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="password" formControlName="rePassword" id="rePassword" placeholder="Password" style="width: 350px;" />
              <!-- <ng-container *ngIf="validateForm.get('rePassword')?.hasError('confirm')">
                The passwords you have entered do not match!
              </ng-container> -->
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control>
            <button (click)="submitForm()" nz-button nzType="primary" [disabled]="!validateForm.valid || !isValid">Register</button>
            <br/>
            <br/>
            <label style="color: white;">
              or back to 
            </label>
            <b><a (click)="backToLogin()">log in!</a></b>
          </nz-form-control>
        </nz-form-item>
      </form>
  </div>
</div>
