<b><label style="color: white; font: oblique; width: 125px;">Most kilometers traveled:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="mostKmT" />
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Least kilometers traveled:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="leastKmT" />
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Most commented:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="mostComm" />
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Least commented:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="leastComm" />
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Most rated:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="mostRated" />
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Least rated:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="leastRated" />
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">The best average rating:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="bestAvg" />
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">The worst average rating:  </label></b>
<input style="margin-left: 10px;" [(ngModel)]="worstAvg" />