<b><label style="color: white; font: oblique; width: 125px;">Most kilometers traveled:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="mostKmT" [disabled]="true"/>
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Least kilometers traveled:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="leastKmT" [disabled]="true"/>
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Most commented:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="mostComm" [disabled]="true"/>
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Least commented:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="leastComm" [disabled]="true"/>
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Most rated:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="mostRated" [disabled]="true"/>
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">Least rated:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="leastRated" [disabled]="true"/>
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">The best average rating:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="bestAvg" [disabled]="true"/>
<br />
<br />
<b><label style="color: white; font: oblique; width: 125px;">The worst average rating:  </label></b>
<input style="margin-left: 10px; width: 250px;" [(ngModel)]="worstAvg" [disabled]="true"/>
