<div style="margin-top: 1%;">
    <div style="margin-top: 1%;">
        <form nz-form [formGroup]="validateForm" class="form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price1day">One day</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="price1day" formControlName="price1day" placeholder="Price for one day" [disabled]="isSimpleUser"/>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price7days">Seven days</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="price7days" formControlName="price7days" placeholder="Price for seven days" [disabled]="isSimpleUser"/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price15days">Fifteen days</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="price15days" formControlName="price15days" placeholder="Price for fifteen days" [disabled]="isSimpleUser"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                 <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price30days">Thirty days</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="price30days" formControlName="price30days" placeholder="Price for thirty days" [disabled]="isSimpleUser"/>
                </nz-form-control>
            </nz-form-item>
        
        <nz-form-item nz-row style="margin-bottom:8px;">
            <nz-form-control>
            <button style="margin-left: 150px;" *ngIf="!isUpdate && !isSimpleUser" (click)="submitForm()" nz-button nzType="primary" [disabled]="!validateForm.valid || !isValid">Create</button>
            <button style="margin-left: 150px;" *ngIf="isUpdate && !isSimpleUser" (click)="submitForm()" nz-button nzType="primary" [disabled]="!validateForm.valid || !isValid">Update</button>
            </nz-form-control>
        </nz-form-item>
        </form>
    </div>
</div>