<div>
  <nz-layout>
    <nz-header>
      <div class="logo">
        <label style="color: white; font-style: oblique; font-size: large;">
            Welcome!
        </label>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li *ngIf="isAdmin" nz-menu-item (click)="registerNewAgent()">Register new agent</li>
        <li *ngIf="isAdmin" nz-menu-item (click)="registrationRequests()">Registration requests</li>
        <li *ngIf="isAdmin" nz-menu-item (click)="carBrands()">Brands</li>
        <li *ngIf="isAdmin" nz-menu-item (click)="carClasses()">Classes</li>
        <li nz-menu-item (click)="logout()">Log out</li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-content>
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
 </nz-layout>
</div>